<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPA Network</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'affiliate_ui/css/style.css' %}">
</head>
<body>
    <header>
        <h1>CPA Network</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 CPA Network</p>
    </footer>
</body>
</html>
