django==3.0.7
flake8
psycopg2-binary
dj-database-url
django-filter
djangorestframework
djangorestframework-jwt
django-cors-headers
PyYAML
whitenoise
django-rest-swagger
django-countries-plus
requests
iso8601
celery
maxminddb-geolite2
redis
honcho
gunicorn
django-tinymce